body{
  width: 100%;
  background: url('../img/bg3-l.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  
}
/* .full-bg-img .mask{
  background-color:transparent
  
}
#navbar{
  background: rgb(169 155 164);
}
.banner-text{
color: inherit;
} */
