body {
  @font-face {
    font-family: "HarmonyOS_regular";
    src: url("./HarmonyOS_Sans/HarmonyOS_Sans_SC_Regular.ttf");
  }
  @font-face {
    font-family: "HarmonyOS_medium";
    src: url("./HarmonyOS_Sans/HarmonyOS_Sans_SC_Medium.ttf");
  }
}
:root {
  --vp-font-family-base: HarmonyOS_regular,monospace;
}

.VPNav {
  backdrop-filter: saturate(180%) blur(20px);
}
.VPHome {
  position: relative;
  z-index: 0;
  &::before {
    background-image: url('/grid.png');
    background-repeat: repeat-x;
  } 
  .blog-item {
    .title>span {
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
      }
    };
    --box-shadow: none;
    --box-shadow-hover: none;
  }
}
