body {
  @font-face {
    font-family: "HarmonyOS_light";
    src: url("./HarmonyOS_Sans/HarmonyOS_Sans_SC_Light.ttf");
  }
  @font-face {
    font-family: "HarmonyOS_regular";
    src: url("./HarmonyOS_Sans/HarmonyOS_Sans_SC_Regular.ttf");
  }
  @font-face {
    font-family: "HarmonyOS_medium";
    src: url("./HarmonyOS_Sans/HarmonyOS_Sans_SC_Medium.ttf");
  }

}
:root {
  --vp-font-family-base:'HarmonyOS_medium';
  --box-shaow: '0 1px 8px 0 rgba(171,179,191,.6)';
}
.VPNav {
  backdrop-filter: saturate(180%) blur(20px);
}
#app .header-banner {
  padding: 36px 0;
}
.info-container .title {
  font-size: 16px;
}
.VPHome {
  background: radial-gradient(ellipse, rgba(var(--bg-gradient-home), 1) 0%, rgba(var(--bg-gradient-home), 0) 300%);
}

